* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #141414 0%, #0D21A1 100%);
}

footer, .bank, .work, .laptops, #view {
    text-align: center;
}

.container {
    margin: 5%;
    background: #EEF0F2;
}

header {
    padding: 1%;
    background: #141414;
    color: #EEC643;
}

main {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "bank work laptops"
        "view view view";
    grid-gap: 1em;
}

.trio {
    background: #EEF0F2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
    background-color: #EEC643;
    border: none;
    color: #EEF0F2;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5%;
}

button:hover {
    background-color: #0D21A1;
    color: #EEC643;
    cursor: pointer;
}

.bank {
    grid-area: bank;
}

.work {
    grid-area: work;
}

.laptops {
    grid-area: laptops;
}

#view {
    grid-area: view;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas: 
        "left middle middle right";
    background: #EEF0F2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#leftContainer {
    grid-area: left;
}

#chosenImg {
    max-width: 100%;
    height: auto;
}

#middleContainer {
    grid-area: middle;
}

#rightContainer {
    grid-area: right;
}


footer {
    text-align: center;
    background: #141414;
    color: #EEC643;
}